html, body, svg#main {
    width:100%;
    height:100%;
    margin:0;
}
#controls {
    margin:15px 0 0 15px;
}

#controls label {
    margin-right:10px;
}

.view .frame {
    stroke:grey;
    stroke-width:1px;
    fill: transparent;
}

.axis {
    font: 11px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.highlighted {
    stroke:red !important;
    stroke-width: 2px;
}

.ghost {
    fill: #ddd !important;
}


/* parallel coords */

.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.data-item.line {
    fill: none;
    stroke: steelblue;
}

.data-item.line.ghost {
    fill: none !important;
    stroke: #ddd !important;
    shape-rendering: crispEdges;
}


/* brushes */

.brush .extent {
    stroke: #333;
    fill: transparent;
    shape-rendering: crispEdges;
}

.brush.active .background {
    pointer-events: none;
}

.brush.ready .background {
    pointer-events: all;
}

.brush .resize .handle {
    fill:none;
    stroke:#999;
    shape-rendering: crispEdges;
}