html, body, svg#main {
    width:100%;
    height:100%;
    margin:0;
}

.view .frame {
    stroke:grey;
    stroke-width:1px;
    fill: transparent;
}

.axis {
    font: 11px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.highlighted {
    stroke:red;
    stroke-width: 2px;
}